body {
  min-height: 100vh;
}

.card {
  position: relative;
  &__delete-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .btn {
    padding: 3px 10px;
  }
}

.panel {
    background-color: rgb(219, 217, 233);
}

.badge {
    font-size: 1em;
    background-color: rgb(206, 177, 50);
}